---
title: Home
layout: default
---

	 {% if paginator.posts %}
		<div class="span8" style="text-align: justify;">
	 	{% for post in paginator.posts %}
			<h2>
				<a href="{{ post.url }}" target="_blank">{{ post.title }}</a>
			</h2>
			<p>
				<span>{{post.date}}</span>
			</p>
			<p>
				{{ post.content }}
			</p>
		{% endfor %}
			<div class="pagination">
				<ul>
				{% if paginator.previous_page %}
					{% if {{paginator.previous_page}} == 1 %}
					<li>
						<a href="/">上一页</a>
					</li>
					{% else %}
					<li>
						<a href="/page{{paginator.previous_page}}">上一页</a>
					</li>
					{% endif %}
				{% else %}
					<li>
						<span>上一页</span>
					</li>
				{% endif %}
					<li>
						<span>第{{paginator.page}}页</span>
					</li>
				{% if paginator.next_page %}
					<li>
						<a href="/page{{paginator.next_page}}">下一页</a>
					</li>
				{% else %}
					<li>
						<span>下一页</span>
					</li>
				{% endif %}
				</ul>
			</div>
		</div>
	 {% else %}
	 	<div>
	 	I'm comming soon, be patient......
	 	</div>
	 {% endif %}
