---
title: Home
layout: default
---
	abbabbaba
	{{ paginator.total_pages }}
	 {% if paginator.total_pages > 0 %}
	 	{% for post in paginator.posts %}
			<h2>
				<a href="{{ post.url }}" target="_blank">{{ post.title }}</a>
			</h2>
			<p>
				<span>{{ post.date | date:"%Y-%m-%d" }}</span>
			</p>
			<p>
				{{ post.content | strip_html | truncate:1024 }}
			</p>
		{% endfor %}
			<div class="pagination">
				<ul>
				{% if paginator.previous_page %}
					{% if {{paginator.previous_page}} == 1 %}
					<li>
						<a href="/">上一页</a>
					</li>
					{% else %}
					<li>
						<a href="/blog/page{{paginator.previous_page}}/index.html">上一页</a>
					</li>
					{% endif %}
				{% else %}
					<li>
						<span>上一页</span>
					</li>
				{% endif %}
					<li>
					<span>
                    {% for i in (1..paginator.total_pages) %}
                        {% if i == 1%}
                        <a href="/index.html">{% if paginator.page == i %} <em style="color:red;font-size:18px">1</em>  {% else %}1{% endif %}</a>
                        {% else %}
                        <a href="/blog/page{{i}}/index.html">{% if paginator.page == i %} <em style="color:red;font-size:18px">{{i}}</em>  {% else %}{{i}}{% endif %}</a>
                        {% endif %}
                        {% if !forloop.last %}
                        &nbsp;
                        {% endif %}
                    {% endfor %}
					</span>
					</li>
				{% if paginator.next_page %}
					<li>
						<a href="/blog/page{{paginator.next_page}}/index.html">下一页</a>
					</li>
				{% else %}
					<li>
						<span>下一页</span>
					</li>
				{% endif %}
				</ul>
			</div>
	 {% else %}
	 	<div>
	 	I'm comming soon, be patient......
	 	</div>
	 {% endif %}
