---
title: Home
layout: default
---
{% if paginator.posts %}
{% for post in paginator.posts %}
   <!-- here add you post markup -->
   <h1><a href="{{ post.url }}" target="_blank">{{ post.title }}</a></h1>
   <p class="author">
    <span class="date">{{post.date}}</span>
  </p>
  <div class="content">
    {{ post.content }}
  </div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    {% if {{paginator.previous_page}} == 1 %}
    <a href="/" class="previous">Previous</a>
    {% else %}
    <a href="/page{{paginator.previous_page}}" class="previous">Previous</a>
    {% endif %}
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}" class="next ">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
{% else %}
  <div>
  I'm comming soon, be patient......
  </div>
{% endif %}
