---
pygments: true
---
<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8"></meta>
  <meta http-equiv="X-UA-Compatible" content="chrome=1"></meta>
  <title>{% if page.title != 'Home' %}{{ page.title }} | {% endif %}tianxiao's blog</title>
  <meta name="description" content="{{ page.title }}"></meta>
  <meta name="author" content="tianxiao | tianxiao.matx@gmail.com"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"></meta>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="alternate" type="application/rss+xml" title="tianxiao's blog » Feed" href="/feed.xml">
  <link rel="stylesheet" media="screen" href="/stylesheets/bootstrap/bootstrap.min.css" >
  <link rel="stylesheet" media="screen" href="/stylesheets/pygments.css" >
  <style type="text/css">
	blockquote {
      background:#f9f9f9;
	  border-left:10px solid #ccc;
	  margin:1.5em 10px;
	  padding:.5em 10px;
	  quotes:"\201C""\201D""\2018""\2019";
	}
	blockquote:before {
	  color:#ccc;
	  content:open-quote;
	  font-size:4em;
	  line-height:.1em;
	  margin-right:.25em;
	  vertical-align:-.4em;
	}
	blockquote p {
	  line-height:20px;
	  padding:10px 0;
	}
  </style>
</head>

<body>
	<div class="container">
		<div class="page-header">
			<h1>
				Tianxiao's Blog<small><a href="/feed.xml"><img src="/images/feed-icon-28x28.png"></a></small>
			</h1>
		</div>
		<div class="row">
			<div class="span8" style="text-align: justify;">
    		{{ content }}
			</div>
			<div class="span4">
				<ul class="nav nav-list">
					<li class="nav-header">
					</li>
					<!--<li class="active">-->
					<li>	
						<a href="/">首页</a>
					</li>
					<li>
						<a href="/feed.xml">RSS</a>
					</li>
					<li>
					</li>
					<li class="nav-header">
						作者
					</li>
					<li>
						Tianxiao
					</li>
					<li>
					</li>
					<li class="divider">
					</li>
					<li>
						<a href="mailto:tianxiao.matx@gmail.com">Contect Me</a>
					</li>
					<li class="divider">
					</li>
					<li class="nav-header">
					友情链接
					</li>
					<li>
					<a href="http://untils.com/" target='_blank'>Piano's blog</a>
					</li>
					<li>
					<a href="http://dongsm.cn/" target='_blank'>dongsm's blog</a>
					</li>
					<li class="nav-header">
						最新发表
					</li>
					<li>
						{% for post in site.posts limit:10 %}
						<div>
							{{ post.date | date:"%Y-%m-%d" }}:<a href="{{ post.url }}" target="_blank">{{ post.title }}</a>
						</div>
						{% endfor %}
					<li>
				</ul>
			</div>
		</div>
	</div>
	<script src="/javascripts/jquery-1.9.1.min.js"></script>
	<script src="/javascripts/bootstrap/bootstrap.min.js"></script>
</body>
</html>
