{% if page.bodyclass.size > 0 %}{% assign bodyclass = page.bodyclass %}{% else %}{% assign bodyclass = '' %}{% endif %}
<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>{% if page.title != 'Home' %}{{ page.title }} | {% endif %}tianxiao's blog</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="tianxiao | tianxiao.matx@gmail.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
</head>

<body>
  <div class="content" id="content" role="main">
    {{ content }}
  </div><!-- .content -->

</body>
</html>
