<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>{% if page.title != 'Home' %}{{ page.title }} | {% endif %}tianxiao's blog</title>
  <meta name="description" content="{{ page.title }}">
  <meta name="author" content="tianxiao | tianxiao.matx@gmail.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>

<body>
  <h2 align="right"><a href="/">Home</h2>
  <div class="content" id="content" role="main">
    {{ content }}
  </div><!-- .content -->
</body>
</html>
